<!DOCTYPE HTML>
<html>
<body class="easyui-layout">
    <!-- 北部 -->
	<div data-options="region:'north'" style="height: 50px;"></div>
	
	<!-- 南部 -->
	<!-- <div data-options="region:'south'" style="height: 50px;"></div> -->
	<!-- 东部 -->
	<!-- <div data-options="region:'east',collapsed:true,collapsible:true,title:'信息'" style="width: 200px;"></div> -->
	
	<!-- 西部 -->
	<div data-options="region:'west',split:false, href:'/static/frame/west.vm'" style="width: 200px;"></div>

	<!-- 中部   主显视区 -->
	<div data-options="region:'center', href:'/static/frame/center.vm'" style="padding: 0px;overflow: hidden;"></div>
</body>
</html>