<body>
<script type="text/javascript" charset="UTF-8">
   var centerTabs = $('#centerTabs');
   var _url;
   
   function addTab(node) {
	   if (centerTabs.tabs('exists', node.text)) {
		   centerTabs.tabs('select', node.text);
	   } else {
		   if(node.attributes && node.attributes.url) {
			   $.messager.progress({
				   text : '页面加载中....',
				   interval : 100
			   });
			   
			   _url = sysbp + '/' + node.attributes.url;
			   var iframe = '<iframe src="' + _url + '" frameborder="0" style="border:0;width:100%;height:100%;"></iframe>';
			   
			   centerTabs.tabs('add', {
				   title : node.text,
				   closable : true,
				   content : iframe,
				   border : false,
				   fit : true,
				   iconCls : node.iconCls,
				   tools:[{
					   iconCls:'icon-mini-refresh',
					   handler:function(){
							refreshTab();
					   }
					}] // END tools
			   }); // END add method
			   
		   } else {
			   $.messager.alert('警告', '菜单【' + node.text + '】的链接为空！', 'warning');
		   }
			
	   }
   }
   
   // 刷新tab页
   function refreshTab() {
	   var _tab = centerTabs.tabs('getSelected');
	   centerTabs.tabs('update', {
		   tab: _tab,
		   options: _tab.panel('options')
	   });
	   
   }
</script>
<div id="centerTabs" class="easyui-tabs" data-options="border:false,fit:true" style="overflow: hidden;">
    <div title="首页" data-options="iconCls:'icon-home'" style="padding: 10px 10px 0px 10px;">
      <div class="easyui-panel" data-options="border:false" style="height: 100px;min-width: 1145px;">
          <div title=" " class="easyui-panel" data-options="fit:true"></div>
      </div>
      
      <div class="easyui-panel" data-options="border:false" style="margin-top:20px;height: 100px;min-width: 1145px;">
          <div title=" " class="easyui-panel" data-options="fit:true"></div>
      </div>
       
    </div>
</div>
</body>